li{
	display: inline;
}

li a {
  /*display: block;*/
  color: #333;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 12pt;
  transition: all ease .25s;
}

li a:hover {
  color: orangered;
  border-bottom: 5px orangered solid;
  background-color: moccasin;
}